.DS_Store
.env
rizin/
__pycache__/
unix/.config/vale/styles/
.tmp*
unix/.config/spicetify/Backup/*
unix/.config/spicetify/Extracted/*
*.gif
linux-specific.fish
unix/.config/zellij/plugins/*
macos/.gnupg/*
!gpg-agent-linux.conf
!gpg-agent.conf
!gpg.conf
*.toml-*
unix/.config/zed/prompts/*
*.iso
